/* Mobile First */
body{
  background: url(../images/sign.png);
  background-size: cover;
  background-color: #cccccc;
}
#mainContent {
  margin: auto;
  font-size: 16px;
  width: 75%;
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
}

#mainContent nav li a{
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  color: #006bb3;
  width: 24%;
  padding: 20px 0;
}
#mainContent .quick-menu{
  width:18%;
}

#mainContent #settings-icon{
  margin: 0 5px;
  padding: 5px;
  width: 45px;
}

#mainContent #settings-icon img{
  margin-top: 4px;
  height: 45px;
  width: 45px;
  display: block;
}
#mainContent h1{
  clear: both;
  padding: 10px 5px;
  font-size: 20px;
  background-color: #fff;
  color: #000;
  border-bottom: 5px solid #2AD2C9;
}

#mainContent .flash{
  text-align: center;
  float: left;
  width: 100%;
  display: block;
  padding: 10px 0;
  color: #000;
}

#mainContent #success{
  background-color: #66e0ff;
}

#mainContent #error{
  background-color: #cc0066;
}
#views{
  padding: 20px;
}

#views h2{
  clear:both;
  text-align: center;
  padding: 2em;
}

#mainContent input{
  width: 100%;
  display: block;
  padding: 1em 0;
  margin: 1em 0;
  overflow: hidden
  border: 1px solid red;
}

#views .submit{
  display: block;
  font-size: 18px;
  width: 80%;
  margin: 2em auto;
  padding: 15px;
  background: #006bb3;
  border: none;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
#mainContent nav li a{
  float: right;
}
#mainContent .quick-menu{
    width: 15%;
}
#mainContent .menu-item{
    width: 20%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

   #mainContent nav li a{
     float: right;
   }
   #mainContent .menu-item{
     width:12%;
   }
   #mainContent .quick-menu{
       width: 10%;
   }
}
