<div id="mainContent">
  <nav>
    <ul>
      <% if !logged_in? %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      <% else %>
        <li>My Ratings</li>
        <li>Leaderboard</li>
      <% end %>
    </ul>
  </nav>
  <h1>Cloudburst Brewing</h1>
</div>
