<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Liquid Refreshment</title>
    <meta name="description" content="Beer Leaderboard for Cloudburst Brewing">
    <meta name="author" content="capricious-slingshot">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset-stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen"/>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
